<div class="dialog-layout">
    <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Start</mat-label>
        <input type="date" matInput placeholder="Start">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>End</mat-label>
        <input type="date" matInput placeholder="End">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Writer</mat-label>
        <input matInput placeholder="Writer">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Cover</mat-label>
        <input matInput placeholder="Cover">
    </mat-form-field>
    <button mat-stroked-button color="primary" class="btn-save">Save</button>
</div>